.history-section-button {
  padding: 0;
  color: #0C2D57;
}

.history-section-button-bold {
  font-weight: 700;
}

.history-section-button:hover {
  color:#0C2D57;
  text-decoration: none;
}

.history-section-button:focus {
  color:#0C2D57;
  text-decoration: none;
}

.history-section-button:active {
  color:#0C2D57;
  text-decoration: none;
}
